@import '../abstracts/variables';

.signin-wrapper {
    width: 100%;
    max-width: 560px; 
    padding: 15px; 
    z-index: 1;
    margin: auto;
}

.signin-card {
    background: $color-white;
    
    padding: 30px 20px; 
    border-radius: 28px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.1);
    width: 100%;

    @media (min-width: 640px) {
        padding: 50px 60px;
    }
    
    .icon-header {
        .icon-circle {
            width: 60px;
            height: 60px;
            background: rgba($color-primary, 0.1);
            color: $color-primary;
            border-radius: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            margin: 0 auto 20px;
            transform: rotate(10deg);
        }
    }

    .signin-title {
        font-size: 24px; 
        @media (min-width: 640px) { font-size: 32px; }
        font-weight: 700;
        text-align: center;
        color: $color-text-dark;
    }

    .signin-subtitle {
        font-size: 14px;
        @media (min-width: 640px) { font-size: 16px; }
        text-align: center;
        margin-bottom: 30px;
        color: $color-gray-text;
    }
}

.form-group {
    margin-bottom: 18px;
    
    input {
        width: 100%;
        padding: 12px 15px; 
        @media (min-width: 640px) { padding: 14px 18px; }
        background: #f8fafc;
        border: 2px solid #f1f5f9;
        border-radius: 12px;
        font-size: 16px; 
    }
}