// =============================================
// COMPONENTS: BADGES
// =============================================

@use "../abstracts/variables" as *;

.badge {
  background-color: #e8eaf6;
  color: $secondary-color;
  font-size: $font-size-xs;
  padding: $spacing-xs $spacing-md;
  border-radius: $radius-lg;
  display: inline-block;
  font-weight: $font-weight-medium;

  &--math {
    background-color: #e8eaf6;
    color: $secondary-color;
  }
}